[submodule ".vim/bundle/command-t.vim"]
	path = .vim/bundle/command-t.vim
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/fugitive.vim"]
	path = .vim/bundle/fugitive.vim
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/molokai.vim"]
	path = .vim/bundle/molokai.vim
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/nerdcommenter.vim"]
	path = .vim/bundle/nerdcommenter.vim
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/syntastic.vim"]
	path = .vim/bundle/syntastic.vim
	url = https://github.com/scrooloose/syntastic.git
