[user]
  name = Jason Bellamy
  email = j@sonbellamy.com
[core]
  editor = vim
[github]
  user = jasonbellamy
[color]
  ui = auto
[color "status"]
  added = 23
  changed = 255
  untracked = 1
[alias]
  br = branch
  co = checkout
  st = status
  lg = log -p
[push]
	default = simple
