[submodule ".vim/bundle/fugitive.vim"]
	path = .vim/bundle/fugitive.vim
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/molokai.vim"]
	path = .vim/bundle/molokai.vim
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/nerdcommenter.vim"]
	path = .vim/bundle/nerdcommenter.vim
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/syntastic.vim"]
	path = .vim/bundle/syntastic.vim
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-css-color.vim"]
	path = .vim/bundle/vim-css-color.vim
	url = https://github.com/gf3/vim-css-color.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/sjl/oh-my-zsh.git
[submodule ".vim/bundle/vim-surround.vim"]
	path = .vim/bundle/vim-surround.vim
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-javascript.vim"]
	path = .vim/bundle/vim-javascript.vim
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-haml.vim"]
	path = .vim/bundle/vim-haml.vim
	url = https://github.com/tpope/vim-haml.git
[submodule ".vim/bundle/coffeescript.vim"]
	path = .vim/bundle/coffeescript.vim
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/tlib_vim.vim"]
	path = .vim/bundle/tlib_vim.vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-addon-mw-utils.vim"]
	path = .vim/bundle/vim-addon-mw-utils.vim
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/vim-colors-solarized.vim"]
	path = .vim/bundle/vim-colors-solarized.vim
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-ctrlp.vim"]
	path = .vim/bundle/vim-ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/nerdtree.vim"]
	path = .vim/bundle/nerdtree.vim
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-gist.vim"]
	path = .vim/bundle/vim-gist.vim
	url = https://github.com/mattn/gist-vim.git
[submodule ".vim/bundle/vim-webapi.vim"]
	path = .vim/bundle/vim-webapi.vim
	url = https://github.com/mattn/webapi-vim.git
[submodule ".vim/bundle/vim-you-complete-me.vim"]
	path = .vim/bundle/vim-you-complete-me.vim
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/jasmine"]
	path = .vim/bundle/jasmine
	url = git://github.com/claco/jasmine.vim.git
[submodule ".vim/bundle/vim-easymotion.vim"]
	path = .vim/bundle/vim-easymotion.vim
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/vim-signature.vim"]
	path = .vim/bundle/vim-signature.vim
	url = https://github.com/kshenoy/vim-signature.git
        ignore = dirty
