[user]
  name = Jason Bellamy
  email = j@sonbellamy.com
[core]
  editor = vim
[github]
  user = jasonbellamy
[color]
  ui = auto
[color "status"]
  added = 23
  changed = 255
  untracked = 1
[alias]
  a  = add
  c  = commit
  p  = push
  br = branch
  co = checkout
  st = status
  lg = log --pretty=oneline -n 50 --graph --abbrev-commit
  cl = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
  cr = remote update --prune
  unstage = reset HEAD --
[push]
  default = simple
[rerere]
  enabled = 1
[credential]
  helper = osxkeychain
[hub]
  host = github.fctechno.com
